<br>
<section>
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms & Conditions</h1>
        <div class="p-5 mt-5 mb-5 bg-secondary-theme">
            
            <p>Aliquam hendrerit congue leo et pulvinar. Nullam iaculis mauris sit amet dolor sodales, sit amet faucibus tellus lacinia. Donec sit amet tortor non lorem gravida pretium. Nulla facilisi. Pellentesque accumsan, ante non scelerisque tincidunt, ipsum magna consectetur ligula, ac laoreet turpis mauris viverra turpis. Duis iaculis, massa non condimentum condimentum, arcu urna elementum nibh, eu tempus tellus massa eget felis. Cras egestas pretium diam eu maximus. Curabitur non faucibus nibh. Nunc non posuere risus, eget ornare risus. Cras at sagittis urna, sed ultricies arcu. Cras condimentum mi sit amet faucibus scelerisque. Vestibulum sit amet dignissim nisl, a placerat lectus. Suspendisse dapibus justo ut metus pulvinar rutrum vitae at lacus. Integer tincidunt iaculis massa vitae varius.

                Mauris sit amet velit vitae ligula aliquam consequat sit amet non tortor. Proin consectetur tellus lorem, sollicitudin luctus magna mattis in. Duis laoreet id elit id porttitor. Quisque cursus augue ac tellus pellentesque, sed efficitur arcu dignissim. Cras tempor dui et mi vulputate imperdiet. Nunc eu neque nec dui mattis sodales quis a est. Nam sit amet ante mi.</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">Back to Home</button>
            </div>
        </div>
    </div>
</section>