input[type = text], input[type = email] {
    margin: 0px;
    width: 100%;
}

.alert{
    font-size: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 23px;
  }