<br>
<section>
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Contact us</h1>
        <div class="p-5 mt-5 mb-5 bg-secondary-theme">
            
            <p>
                Nam egestas metus eu massa aliquet consequat. Donec sit amet consectetur sapien. Nullam eleifend viverra dui, at hendrerit turpis aliquet sit amet. Morbi elementum, justo et ultrices mattis, mauris eros mollis libero, eu vestibulum quam lectus id mauris. Curabitur malesuada lectus non eros venenatis convallis.

Donec tincidunt, leo ut dictum tristique, massa ex egestas neque, vel rhoncus erat quam vel eros. Proin tristique, lectus ultrices viverra varius, lectus sapien luctus mauris, ut laoreet orci ligula eu libero. Aliquam erat volutpat. Sed luctus eu enim a dignissim. Phasellus ac felis venenatis, varius quam quis, posuere urna. Ut sem leo, facilisis vel velit nec, posuere lacinia mauris. Proin ornare mi in auctor sollicitudin. In non finibus nulla. Proin vulputate eros ut leo tempus cursus.
            </p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">Back to Home</button>
            </div>
        </div>
    </div>
</section>