<br>
<section>
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About us</h1>
        <div class="p-5 mt-5 mb-5 bg-secondary-theme">
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod mauris augue, ac commodo nulla finibus in. Vivamus sed finibus orci. Cras consectetur nunc eros. Praesent blandit tellus id leo auctor tempus. Nullam at neque et tortor tempus interdum quis at nulla. Nam eget interdum quam. Suspendisse varius maximus ex ut lobortis. Donec cursus ante sed orci euismod egestas. Pellentesque et elit id neque blandit sollicitudin id eu orci. Cras euismod nisl augue, eu consectetur velit fermentum sit amet. Vestibulum tempor mauris at mi porttitor, eget commodo tortor ultrices. Curabitur rhoncus purus nec orci vulputate cursus. Pellentesque nunc felis, dignissim eu faucibus eget, mollis et quam. Nullam nisl felis, sollicitudin at tempus a, convallis eu arcu.

                Etiam nulla nunc, posuere vitae ipsum eu, volutpat rutrum tellus. Nam nec dapibus dui. Praesent pretium fringilla nisi eget hendrerit. Nam at laoreet turpis, nec pharetra tellus. Nam nec gravida lectus. Vivamus bibendum ex in turpis faucibus, vitae condimentum nisi scelerisque. Donec dignissim massa ex, id molestie felis elementum eu. Fusce ornare auctor sem et faucibus. Etiam interdum arcu mi, at pulvinar quam blandit a. Proin nec neque id mi sagittis luctus eget eget nunc. Donec id nunc a elit rhoncus accumsan id in dolor. Mauris congue ac eros vitae venenatis. Sed volutpat laoreet libero, vitae consequat nisl vehicula quis.
            </p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">Back to Home</button>
            </div>
        </div>
    </div>
</section>